* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

.hbody {
  background-color: black;
  width: 100%;
  height: 100px;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.title {
  font-size: 2em;
}

.hidden {
  display: none;
}

@media screen and (min-width: 625px) {
  #menu {
    display: flex;
  }

  #menu > li {
    padding: 20px 30px;
    font-size: 20px;
  }

  .fab {
    font-size: 35px;
    color: #1da1f2;
  }

  .fas {
    display: none;
  }
}

@media screen and (max-width: 625px) {
  .nav {
    padding: 30px 40px;
  }

  #menu {
    display: none;
  }

  .fab {
    display: none;
  }

  .fas {
    font-size: 2em;
  }

  #minimenu {
    width: 100%;
    height: 30vh;
    background-color: black;
  }

  #minimenu > li {
    font-size: 25px;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #minimenu > li:hover {
    background-color: orange;
  }
}
